<!-- DASHBOARD -->
<div class="text-center py-4">
    <h3 class="title-big">Newsletter Dashboard</h3>
    <p>Here you can manage and upload newsletters</p>
</div>

<div id="newsDash" class="">
    <h4>Summary</h4>
    <p>Newsletter Campaigns Sent: </p> <div class="text-info ">@ViewBag.NumEmails</div>
</div>


<div id="Send" class="text-center justify-content-center">
    <a asp-area="" asp-controller="Newsletter" asp-action="NewUpload"
       class="btn rounded btn-outline-primary btn-lg rounded col w-50">Send a new Newsletter</a>
</div>