<!-- DASHBOARD -->
<div class="text-center py-4">
    <h3 class="title-big">Newsletter Dashboard</h3>
    <p>Here you can manage and upload newsletters</p>
</div>

<div id="newsDash" class="">
    <h4>Summary</h4>
    <p>Newsletter Campaigns Sent: </p> <div class="text-info ">@ViewBag.NumEmails</div>
</div>


<div id="Send" class="text-center justify-content-center">
    <input type="submit" value="Send New Newsletter" class="btn rounded btn-outline-primary btn-lg rounded" />
</div>