@model UserVM
@{ 
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!-- Newsletter -->

<div style="text-align: left" class="sender-form-field" data-sender-form-id="kqi2a1vkaklbzb4e6y4"></div>

@*<div id="subscribe">
    <form action="#" method="post">
        <h3 class="title-big">Newsletter Subscription</h3>

        <div class="log-container">
            <label for="subscribeInfo"><b>Would you like to receive our monthly newsletter? <br /> You can subscribe whenever you wish.</b></label>

            <button type="submit" onclick="">Subscribe</button>


        </div>

        <script src="js/newsletter.js" asp-append-version="true"></script>
        <script type="text/javascript">
            createSubscriber(@Model.Email)
        </script>

    </form>
</div>*@