/* Bordered form */
form {
    width: 600px;
}

/* Full-width inputs */
input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.log-cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.log-container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

