@{
    ViewData["Title"] = "About";

}

<!-- <h1>About</h1> -->
<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item @@home__active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">/ About Us</li>
        </ul>
    </div>
</section>

<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/images/PlaywriteOT/about-playwriteOT.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h3 class="title-big mw-100">About Playwrite Occupational Therapy</h3>
                    <p class="mt-md-4 mt-3">
                        History of how Playwrite OT came into existence.
                    </p>
                    <p class="mt-3">
                        How does occupational therapy work.
                    </p>
                    <!-- <a href="#more" class="btn btn-style btn-primary mt-sm-5 mt-4">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- card section -->
<section class="w3l-features-4">
    <div class="features4-block pb-5">
        <div class="container pb-lg-5 pb-md-4 pb-3">
            <div class="row features4-grids">
                <div class="col-xl-3 col-sm-6">
                    <div class="features4-grid">
                        <div class="feature-images">
                            <span class="fa fa-desktop" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#url">Details about ... 1</a></h5>
                        <a href="#readmore" class="grid-link">
                            Read More
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="features4-grid">
                        <div class="feature-images">
                            <span class="fa fa-sign-language" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#url">Details about ... 2</a></h5>
                        <a href="#readmore" class="grid-link">
                            Read More
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                    <div class="features4-grid">
                        <div class="feature-images">
                            <span class="fa fa-ravelry" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#url">Details about ... 3</a></h5>
                        <a href="#readmore" class="grid-link">
                            Read More
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                    <div class="features4-grid">
                        <div class="feature-images">
                            <span class="fa fa-bullhorn" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#url">Details about ... 4</a></h5>
                        <a href="#readmore" class="grid-link">
                            Read More
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //card section -->

<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6">
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr1">
                                <span class="fa fa-envelope-open-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url">Email marketing.</a></h6>
                            <p>
                                Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam optio
                                adipisicing.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr2">
                                <span class="fa fa-stack-exchange"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url">Our campaigns.</a></h6>
                            <p>
                                Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam optio
                                adipisicing.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr3">
                                <span class="fa fa-dollar"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url">Advertising.</a></h6>
                            <p>
                                Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam optio
                                adipisicing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/images/about2.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<div class="team-area py-5" id="people">
    <div class="container py-lg-5 py-md-4 py-2">

        <span class="title-small text-center"> Our People</span>
        <h3 class="title-big text-center">Meet Our Team</h3>

        <div class="row mt-lg-5 mt-4">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team">
                    <div class="img-area">
                        <img src="~/images/PlaywriteOT/founder-and-family.jpg" class="img-fluid radius-image" alt="">
                        <div class="social">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/playwriteOT/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                @*
                                    <!-- Other social media -->
                                    <li><a href="#url"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-pinterest"></i></a></li>
                                *@
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Amy and Family</h4>
                        <p>Founder and CEO</p>
                    </div>
                </div>
            </div>
            @*
                <!-- other team members -->
                <div class="col-lg-3 col-sm-6 col-xs-12 mt-sm-0 mt-5">
                    <div class="single-team">
                        <div class="img-area">
                            <img src="~/images/team2.jpg" class="img-fluid radius-image" alt="">
                            <div class="social">
                                <ul class="list-inline">
                                    <li><a href="#url"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="img-text">
                            <h4>Richard Elison</h4>
                            <p>Co Founder and COO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 mt-lg-0 mt-5">
                    <div class="single-team">
                        <div class="img-area">
                            <img src="~/images/team3.jpg" class="img-fluid radius-image" alt="">
                            <div class="social">
                                <ul class="list-inline">
                                    <li><a href="#url"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="img-text">
                            <h4>Elizabeth</h4>
                            <p>HR Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 mt-lg-0 mt-5">
                    <div class="single-team">
                        <div class="img-area">
                            <img src="~/images/team4.jpg" class="img-fluid radius-image" alt="">
                            <div class="social">
                                <ul class="list-inline">
                                    <li><a href="#url"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#url"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="img-text">
                            <h4>Robert Branson</h4>
                            <p>Project Leader</p>
                        </div>
                    </div>
                </div>
            *@
        </div>
    </div>
</div>
<!-- //team -->
<!--  javascripts file here -->
<script src="~/js/jquery-3.3.1.min.js"></script>

<script src="~/js/theme-change.js"></script> <!-- //light and dark mode switch js -->

<script src="~/js/jquery-1.9.1.min.js"></script>
<!-- faq -->
<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));</script>
<!-- //faq -->

<script src="~/js/easyResponsiveTabs.js"></script>
<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });</script>

<!-- owl carousel -->
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                667: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    })</script>
<!-- //script -->
<!-- owl carousel -->
<!-- script for customers -->
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 3,
                    nav: true
                },
                480: {
                    items: 3,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                800: {
                    items: 4,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true
                }
            }
        })
    })</script>
<!-- //customers owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<!-- <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script> -->
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->