@{ ViewData["Title"] = "Contact"; }

<!-- <h1>Contact</h1> -->
<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">/ Contact Us</li>
        </ul>
    </div>
</section>

<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-lg-4">
            <div class="title-heading-w3 text-center mx-auto">
                <h3 class="title-big">Get In Touch</h3>
            </div>
            <div class="d-grid cont-main-top mt-lg-5 mt-4">
                <!-- contact form -->
                <div class="contacts12-main">
                    <form method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Name" name="name" id="w3lName" required="">
                            <input type="email" name="emal" placeholder="Email" id="w3lSender" required="">
                        </div>
                        <input type="text" placeholder="Phone Number" name="pH" id="w3lName" required="">
                        <textarea placeholder="Message" name="mess" id="w3lMessage" required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-style">Submit Now</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="contact">
                    <div class="cont-subs">
                        <div class="cont-add">
                            <h4>Location:</h4>
                            <p>Office 2, 55 Old Main Road, Gillitts</p>
                            <p>Durban, 3610</p>
                            <p>South Africa</p>
                        </div>
                        <div class="cont-add">
                            <h4>Email Address:</h4>
                            <a href="mailto:info@example.com">
                                <p class="contact-text-sub">info@example.com</p>
                            </a>
                        </div>
                        <div class="cont-add">
                            <h4>Phone Number:</h4>
                            <a href="tel: +27 (72) 342 8252">
                                <p class="contact-text-sub">tel: +27 (72) 342 8252</p>
                            </a>
                        </div>
                        <div class="social-icons-con">
                            <h4 class="mb-3">Connect with us:</h4>
                            <a href="https://www.facebook.com/playwriteOT/" target="_blank"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>

                            <!-- // other social media pages (if available)
                                <a href="#twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
                                <a href="#instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                <a href="#linkedin"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a>
                            -->
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
            </div>
        </div>

        <div class="title-heading-w3 text-center mx-auto">
            <h3 class="title-big">Location and Directions</h3>
        </div>

        <!-- map -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13850.476441967701!2d30.772505696924906!3d-29.788653318082602!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd585bf3397bf4116!2sPlaywrite%20Occupational%20Therapy!5e0!3m2!1sen!2sza!4v1624538490092!5m2!1sen!2sza"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
        <!-- //map -->

    </div>
</section>
<!-- //contact -->
<!--  javascripts file here -->
<script src="~/lib/jquery/dist/jquery-1.9.1.min.js"></script>
<script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
<!-- faq -->
<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));</script>
<!-- //faq -->

<script src="~/js/easyResponsiveTabs.js"></script>
<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });</script>
<!-- <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script> -->
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->