@{ ViewData["Title"] = "Services"; }

<!-- <h1>Services</h1> -->
<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            |
            <li class="nav-link"> Services</li>
        </ul>
    </div>
</section>


<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h3 class="title-big mw-100">Explore</h3>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-md-4 mt-3">
                    <p>
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Lorem ipsum dolor sit amet
                        elit. Non quae
                    </p>
                </div>
                <div class="col-lg-3 text-lg-right mt-lg-0 mt-3">
                    <a href="#allservices" class="btn btn-primary btn-style">View all services</a>
                </div>
            </div>
            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/blog3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Assessments</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Intervention</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s4.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Muscle Mania®</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
