@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h1>Services</h1> -->
<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">/ Services</li>
        </ul>
    </div>
</section>

<!--  services section -->
<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h3 class="title-big mw-100">Explore</h3>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-md-4 mt-3">
                    <p>
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Lorem ipsum dolor sit amet
                        elit. Non quae
                    </p>
                </div>
                <div class="col-lg-3 text-lg-right mt-lg-0 mt-3">
                    <a href="#allservices" class="btn btn-primary btn-style">View all services</a>
                </div>
            </div>
            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/blog3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a href="#service">Environmental Activities</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a href="#service">Family Support</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s4.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a href="#service">Digital Assistance</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--  //services section -->
<!-- services page services section -->
<section class="w3l-services" id="core">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h6 class="title-small">Core Values</h6>
                    <h3 class="title-big mx-0">It's about bringing a change to the world!</h3>
                    <p class="mt-md-4 mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad.
                    </p>
                    <p class="mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad.
                    </p>
                    <a asp-area="" asp-controller="Authentification" asp-action="Register"
                       class="btn btn-primary btn-style mt-md-5 mt-4 mr-2">
                        Work with us
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="About"
                       class="btn btn-outline-primary btn-style mt-md-5 mt-4">
                        Learn More
                    </a>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="row features4-grids">
                        <div class="col-md-6">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-desktop" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#about">Business service Consultation</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-lg-0 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-sign-language" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#about">Life and Health Insurance</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-ravelry" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#about">Largest Business Expert solutions</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-bullhorn" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#about">Digital Product Development</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services page services section -->
<section class="w3l-bottom-grids-6 py-5" id="allservices">
    <div class="container py-lg-5 py-md-4 py-2">
        <h6 class="title-small text-center">Our Services </h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">
            Exclusive Services for our Clients
            from Playwrite OT.
        </h3>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-laptop"></span>
                    <h4><a href="#feature" class="title-head">Consulting Business</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-users"></span>
                    <h4><a href="#feature" class="title-head"> Experienced Team</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-tasks"></span>
                    <h4><a href="#feature" class="title-head">Skill Development</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-cogs"></span>
                    <h4><a href="#feature" class="title-head">Expert Solutions</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-database"></span>
                    <h4><a href="#feature" class="title-head">Business Service</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-line-chart"></span>
                    <h4><a href="#feature" class="title-head">Visual Strategies</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Digital Startups</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="area-box">
                    <span class="fa fa-cubes"></span>
                    <h4><a href="#feature" class="title-head">Industry insights</a></h4>
                    <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- wrork with us -->
<section class="w3l-bottom py-5">
    <div class="container">
        <div class="subscribe">
            <div class="row">
                <div class="col-lg-9 header-section mx-auto">
                    <h3 class="title-big mx-0 mw-100">Work with our best Business Team </h3>
                </div>
                <div class="col-lg-3 mt-lg-0 mt-4 align-self text-lg-right">
                    <a asp-area="" asp-controller="Authentification" asp-action="Register" class="btn btn-light btn-style">Work with us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  javascripts file here -->
<script src="~/js/jquery-3.3.1.min.js"></script>

<script src="~/js/theme-change.js"></script> <!-- //light and dark mode switch js -->

<script src="~/js/jquery-1.9.1.min.js"></script>
<!-- faq -->
<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));</script>
<!-- //faq -->

<script src="~/js/easyResponsiveTabs.js"></script>
<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });</script>

<!-- owl carousel -->
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                667: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    })</script>
<!-- //script -->
<!-- owl carousel -->
<!-- script for customers -->
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 3,
                    nav: true
                },
                480: {
                    items: 3,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                800: {
                    items: 4,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true
                }
            }
        })
    })</script>
<!-- //customers owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<!-- <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script> -->
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });</script>
<!--//MENU-JS-->