@{ ViewData["Title"] = "Services"; }

<!-- <h1>Services</h1> -->
<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            |
            <li class="nav-link"> Services</li>
        </ul>
    </div>
</section>


<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h3 class="title-big mw-100">Explore</h3>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-md-4 mt-3">
                    <p>
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Lorem ipsum dolor sit amet
                        elit. Non quae
                    </p>
                </div>
                <div class="col-lg-3 text-lg-right mt-lg-0 mt-3">
                    <a href="#allservices" class="btn btn-primary btn-style">View all services</a>
                </div>
            </div>
            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/blog3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Environmental Activities</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s3.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Family Support</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/images/s4.jpg" alt=""
                                 class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <h4><a>Digital Assistance</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--  //services section -->
<!-- services page - TIPS -->
<section class="w3l-services" id="core">
    <div class="midd-w3 py-2 px-3">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <!-- content on the left -->
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h6 class="title-small">Core Values</h6>
                    <h3 class="title-big mx-0">It's about bringing a change to the world!</h3>
                    <p class="mt-md-4 mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad.
                    </p>
                    <p class="mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, sed
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad.
                    </p>
                    <a asp-area="" asp-controller="Home" asp-action="Contact"
                       class="btn btn-primary btn-style mt-md-5 mt-4 mr-2">
                        Work with us
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="About"
                       class="btn btn-outline-primary btn-style mt-md-5 mt-4">
                        Learn More
                    </a>
                </div>
                <!-- content on the right -->
                <div class="col-lg-6 align-self-center">
                    <div class="row features4-grids">
                        <div class="col-md-6">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-desktop" aria-hidden="true"></span>
                                </div>
                                <h5><a asp-area="" asp-controller="Resources" asp-action="TipsForTherapists">Tips for Therapists</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-lg-0 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-sign-language" aria-hidden="true"></span>
                                </div>
                                <h5><a asp-area="" asp-controller="Resources" asp-action="TipsForTeachers">Tips for Teachers</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-ravelry" aria-hidden="true"></span>
                                </div>
                                <h5><a asp-area="" asp-controller="Resources" asp-action="TipsForParents">Tips for Parents</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services page - TIPS -->
