@{ ViewData["Title"] = "Development Delay"; }


<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            |
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="Index">Resources</a>
            </li>
            |
            <li class="nav-link">Development Delay</li>
        </ul>
    </div>
</section>

<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <!-- content on the left -->
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h3 class="title-big mx-0">Development Delay</h3>
                    <p class="mt-3">
                        Developmental delay is when your child lags behind their peers in one or more areas of emotional, mental, or physical growth.
                        If your child is delayed, early treatment is the best way to help them make progress or to catch up.
                        There are many different types of developmental delays in infants and young children. They include problems with,
                        language or speech, vision, movement or motor skills, social and emotional skills, or cognitive skills.
                        Sometimes, a significant delay occurs in two or more of these areas. When that happens, it’s called "global developmental delay."
                        It refers to infants and preschoolers up to age 5 who show delays lasting at least 6 months.
                    </p>
                    <p class="mt-3">
                        Developmental delay is different from developmental disabilities, which include such conditions as cerebral palsy, 
                        hearing loss, and autism spectrum disorder.
                        <a class="nav-item" style="color: #1ebff7" href="https://www.webmd.com/parenting/baby/recognizing-developmental-delays-birth-age-2#1">Read more</a>
                    </p>
                </div>
                <!-- // content on the left -->
                <!-- image on the right -->
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/images/PlaywriteOT/kids-1.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <!-- image on the right -->
            </div>
        </div>
    </div>
</section>