@{ ViewData["Title"] = "Sensory Processing"; }

<!-- breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            |
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="Index">Resources</a>
            </li>
            |
            <li class="nav-link">Sensory Processing Disorder</li>
        </ul>
    </div>
</section>

<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <!-- content on the left -->
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h3 class="title-big mx-0">Sensory Processing Disorder</h3>
                    <p class="mt-md-4 mt-3">
                        Sensory Processing Disorder refers to difficulties processing sensory information from our
                        sensory systems. Children with SPD typically have difficulty interpreting sensory information
                        and may either over- or under-respond. As sensory integration OT’s we work on assisting
                        the child and family to better understand the child’s sensory profile and to work towards
                        improving their ability to process sensory information, allowing them to function optimally
                        within their various areas of occupation.
                    </p>
                </div>
                <!-- // content on the left -->
                <!-- image on the right -->
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/images/PlaywriteOT/kids-1.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <!-- image on the right -->
            </div>
        </div>
    </div>
</section>
