@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center py-4">
    <h3 class="title-big">Logged Out</h3>
    <p>You have been successfully logged out. For extra security close this window and all browser tabs.</p>
</div>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
